/* background color for homepage */
body {
    background-color: #F0EBE3 !important;
}
/* background color and padding for header bar */
header {
    display: inline-flex;
    align-items: center;
    background-color: #94B49F;
    padding: 1% 2%;
    position: static; 
    width: 100%;
    margin: 0;
    top: 0;
    left: 0; 
}

#namePlate {
    width:fit-content;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    text-align: center;
    margin-left: 50%;
    width: 30%;
}

/* styles the buttons, handles button spacing */
.navBut {
    border-style: none;
    border-radius: 30px;
    padding: 1% 2%;
    background-color: #135B30;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 2%;
}

.navBut:hover {
    background-color: white;
    color: #135B30;
}

/* styles the div containing the main content of the page */
.container {
    display: flex;
    flex-direction: row;
    margin: 2%;
    align-items: center; 
    gap: 10%;
}

/* styles the AboutMe section */
section {
  background-color: #94B49F;
  padding: 2%;
  box-shadow: 5px 5px 10px black !important;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

/* styles the div containing the profile picture */
#profile {
    margin: 2% 5%;
    width: 100%;
    box-shadow: 5px 5px 10px black;
}

#calendly {
    border-style: none;
    border-radius: 30px;
    padding: 1% 3%;
    background-color: #135B30;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
#calendly:hover {
    background-color: white;
    color: #135B30;
}

/* styles the profile picture inside the div */
img {
    width: 100%;
}

/* styles the navbar containing the footer */
/* .Footer {
    background-color: #94B49F;
    position: fixed;
    bottom: 0;
    width: 100%;
} */